@import '../../../../styles/common.less';
@border:#eaeaea;
@iconfont:#a9a9a9;
.ProjectHomePage{
    em{
        font-style:normal;
    }
    .pageHeader{
        background:#48c5b5;height:370px;display:block;
    }
    .pageContent{
        display:block;margin:0px 80px;
        .companyInfo{
            float:left;width:410px;display:inline-block;margin-top:-220px;min-height:780px;
            .companyLog{
                height:320px;background-color:rgba(230, 234, 235, 0.5);
                img{
                    width:100%;height:100%;
                }
            }
            .contentRow{
                padding:40px;width:410px;min-height:460px;background:#fafafa;line-height:24px;font-weight:lighter;
                p{
                    margin-bottom:25px;display:block;font-size:@fs14;
                    span{
                       display:block;color:#8e9195;
                    }
                    em{
                        display:block;color:#757575;
                    }
                }
            }
        }
        .companyContent{
            margin-left:460px;display:block;margin-top:-100px;
            .contentHeader{
                height:72px;overflow:hidden;
            }
            .companyTitle{
                background:rgba(230, 234, 235, 0.2);padding:15px 30px;min-width:520px;display:inline-block;float:left;line-height:26px;
                h4{
                    opacity:1;color:rgba(255, 255, 255, 1);font-size:22px;font-weight:lighter;
                }
                h5{
                    color:rgba(255, 255, 255, 1);font-weight:lighter;
                }
            }
            .companySet{
                float:right;display:inline-block;width:95px;height:38px;line-height:38px;border:1px solid #fff;color:#fff;margin-top:16px;text-align:center;font-size:14px;
                cursor:pointer;transition: all .5s;
                &:hover{
                    background:rgba(230, 234, 235, 0.5);
                }
            }
            .contentRow{
               margin-top:60px;background:#fafafa;min-height:428px;padding:15px;
               .ManageRow{
                  height:278px;display:block;
                  .task{
                      float:left;width:30%;height:100%;padding-top:100px;padding-left:20px;font-size:20px;font-weight:lighter;border-right:1px solid @border;cursor:pointer;
                      transition:all .5s;
                      p{
                          font-size:12px;margin-top:5px;
                      }
                      .iconfont{
                          float: right;font-size:4em;padding-right:15px;color:@iconfont;margin-top:-25px;transition:all .5s;
                      }
                      &:hover{
                            color:@fontColor;
                        .iconfont{
                            color:@fontColor;transform:scale(1.2);
                        }
                      }
                  }
                  .resouer{
                      float:left;width:70%;
                      .title{
                          height:30px;display:block;line-height:30px;padding-left:20px;font-size:16px;font-weight:lighter;
                          span{
                              margin-left:10px;font-size:12px;
                          }
                      }
                      .content{
                         height:248px;text-align:center;line-height:248px;
                      }
                  }
               }
               .MenuRow{
                   height:119px;display:block;border-top:1px solid @border;
                   dd{
                       float: left;width:33.3%;border-left:1px solid @border;height:119px;padding-left:40px;cursor:pointer;transition:all .5s;
                       &:nth-of-type(1){
                           border-width:0px;padding-left:0px;
                       }
                       p{
                           padding-top:40px;float:left;display:inline-block;font-size:20px;font-weight:lighter;line-height:20px;
                           span{
                               font-size:12px;
                           }
                       }
                       .iconfont{
                           float:right;font-size:4.5em;padding-right:40px;color:@iconfont;margin-top:22px;transition:all .5s;
                       }
                       &:hover{
                         color:@fontColor;
                        .iconfont{
                            color:@fontColor;transform:scale(1.2);
                        }
                       }
                   }
               }
            }
        }
    }
}
.main .single-page-con .single-page{
    margin:0px!important;
}