// 颜色
@green:#3bceb6;
@grey:#dedede;

// 字体大小
@f12:12px;
@f14:14px;
@f16:16px;
@f18:18px;
@f20:20px;
@f22:22px;
@f24:24px;
@f26:26px;
@f28:28px;
@f30:30px;

// 间距
@p10:10px;
@p15:15px;
@p20:20px;
@p25:25px;
@p30:30px;
@p35:35px;
@p40:40px;
@p45:45px;
@p50:50px;

// 圆角弧度
