@import './common.less';
.projectPlanLeft{
    .projectPlanList{
        border:1px solid #ddd;padding:14px;border-radius:@borderRadius12;box-shadow:@boxShadow;height:190px;
        .listTitle{
            display:block;text-align: center;
            span{
                padding-top:10px;display:inline-block;font-size:@fs118;
            }
        }
        .listLine{
            .line{
                margin:24px 0px;
                .title{
                    float:left;width:100px;display:inline-block;text-align:right;padding-right:15px;font-size:@fs14;
                }
                .lineRow{
                    margin-left:100px;display:block;margin-right:10px;
                }
            }
        }
        .statis{
            text-align:center;padding-top:10px;
            .statisTip{
                background:#f7c01e;color:@white;display:inline-block;width:105px;height:95px;padding-top:15px;border-radius:@borderRadius12;
                span{
                    font-size:@fs28;
                }
                em{
                    font-style:normal;font-size:14px;
                }
            }
            .statisTip2{
                line-height:95px;padding:0px;
            }
            .statisTip3{
                line-height:95px;padding:0px;background:@medalTitleColor;
            }
            .statisTitle{
                font-size:@fs118;margin-top:15px;
            }
        }
    }
    .projectEchart{
        margin-top:20px;border:1px solid #ddd;border-radius:@borderRadius12;box-shadow:@boxShadow;padding:@padding;
    }
}

.projectPlanRight{
    width:380px;
    margin: 10px 30px 0 0;
    .rightTitle{
        background:@panelBg;border:1px solid #ddd;padding:4px 10px;font-size:14px;font-weight:bold;border-radius:@borderRadius12 @borderRadius12 0px 0px;
    }
    .rightRow {
        max-height: 863px;
        padding: 10px;
        background: #F5F7F6;
        border: 1px solid #ddd;
        border-top: 0px;
        border-radius: 0px 0px @borderRadius12 @borderRadius12;
        overflow-y: auto;
        .line {
            margin: 10px 0px;
            .title {
                float: left;
                display: inline-block;
                text-align: left;
                padding-right: 15px;
            }
            .lineRow {
                //padding-left:120px;display:block;
            }
        }
    }
}

.projectStatisLeft{
    float:left;width:200px;
    dt{
        span{
             font-size:14px;margin-left:10px;float:left;color:@mainFontColor;font-weight:bold;font-size:@fs118;
            }
    }
    dd{
        padding:10px 25px;margin-bottom:14px;
        a{
            padding:6px 0px;display:block;color:@importantNumColor;
        }
        .show{
            color:@importantNumColor;font-size:@fs118;
        }
    }
}
.projectStatisRight{
    margin-left:230px;
}

//淫荡的分割线
.newStatis{
    padding:20px;
    dt{
        background:#1a99aa;color:#fff;line-height:40px;padding-left:20px;
    }
    dd{
        margin:20px 0px;
        ul{
            margin-left:-3%;display:inline-block;*display:inline;zoom:1;overflow:hidden;width:103%;
            li{
                float:left;margin-left:3%;width:22%;height:200px;white-space:nowrap;background:#fcfcfc;
                transition:all .3s;
                &:hover{
                    background:#f9f9f9;
                }
            }
            .taskState{
                background:url('../views/project/proStat/image/taskstate.png') no-repeat;width:100%;height:200px;background-size:30%;background-position:90% 50%;padding-top:20%;
                cursor:pointer;
                .title{
                    font-size:22px;padding-left:20px;color:#3d3d3d;font-weight:lighter;
                    transition:all .3s;
                }
                &:hover{
                    .title{
                        color:@fontColor;
                    }
                }
            }
            .taskSchedule{
                &:extend(.newStatis dd ul .taskState);
                background-image:url('../views/project/proStat/image/taskSchedule.png');
                .title{
                    &:extend(.newStatis dd ul .taskState .title);
                }
                &:hover{
                    .title{
                        &:extend(.newStatis dd ul .taskState:hover .title);
                    }
                }
            }
            .statusSchedule{
                &:extend(.newStatis dd ul .taskState);
                background-image:url('../views/project/proStat/image/statusSchedule.png');
                .title{
                    &:extend(.newStatis dd ul .taskState .title);
                }
                &:hover{
                    .title{
                        &:extend(.newStatis dd ul .taskState:hover .title);
                    }
                }
            }
            .taskStyle{
                &:extend(.newStatis dd ul .taskState);
                background-image:url('../views/project/proStat/image/style.png');
                .title{
                    &:extend(.newStatis dd ul .taskState .title);
                }
                &:hover{
                    .title{
                        &:extend(.newStatis dd ul .taskState:hover .title);
                    }
                }
            }
            .memberStask{
                &:extend(.newStatis dd ul .taskState);
                background-image:url('../views/project/proStat/image/member.png');
                .title{
                    &:extend(.newStatis dd ul .taskState .title);
                }
                &:hover{
                    .title{
                        &:extend(.newStatis dd ul .taskState:hover .title);
                    }
                }
            }
            .memberHours{
                &:extend(.newStatis dd ul .taskState);
                background-image:url('../views/project/proStat/image/hours.png');
                .title{
                    &:extend(.newStatis dd ul .taskState .title);
                }
                &:hover{
                    .title{
                        &:extend(.newStatis dd ul .taskState:hover .title);
                    }
                }
            }
            .hoursPercent{
                &:extend(.newStatis dd ul .taskState);
                background-image:url('../views/project/proStat/image/hoursPercent.png');
                .title{
                    &:extend(.newStatis dd ul .taskState .title);
                }
                &:hover{
                    .title{
                        &:extend(.newStatis dd ul .taskState:hover .title);
                    }
                }
            }
        }
    }
}    