@import './common.less';
.projectPlanLeft{
    margin-right:400px;
    .projectPlanList{
        border:1px solid #ddd;padding:14px;border-radius:@borderRadius12;box-shadow:@boxShadow;
        .listTitle{
            display:block;text-align: center;
            span{
                padding-top:10px;display:inline-block;font-size:@fs118;
            }
        }
        .listLine{
            .line{
                margin:24px 0px;
                .title{
                    float:left;width:100px;display:inline-block;text-align:right;padding-right:15px;font-size:@fs14;
                }
                .lineRow{
                    margin-left:100px;display:block;margin-right:10px;
                }
            }
        }
        .statis{
            text-align:center;padding-top:10px;
            .statisTip{
                background:#f7c01e;color:@white;display:inline-block;width:105px;height:95px;padding-top:15px;border-radius:@borderRadius12;
                span{
                    font-size:@fs28;
                }
                em{
                    font-style:normal;font-size:14px;
                }
            }
            .statisTip2{
                line-height:95px;padding:0px;
            }
            .statisTitle{
                font-size:@fs118;margin-top:15px;
            }
        }
    }
    .projectEchart{
        margin-top:20px;border:1px solid #ddd;border-radius:@borderRadius12;box-shadow:@boxShadow;padding:@padding;
    }
}

.projectPlanRight{
    float:right;width:380px;
    .rightTitle{
        background:@panelBg;border:1px solid #ddd;padding:4px 10px;font-size:14px;font-weight:bold;border-radius:@borderRadius12 @borderRadius12 0px 0px;box-shadow:@boxShadow;
    }
    .rightRow{
        border:1px solid #ddd;border-top:0px;padding:10px;border-radius:0px 0px @borderRadius12 @borderRadius12;box-shadow:@boxShadow;
        .line{
            margin:5px 0px;
            .title{
                float:left;width:100px;display:inline-block;text-align:left;padding-right:15px;
            }
            .lineRow{
                margin-left:100px;display:block;
            }
        }
    }
}

.projectStatisLeft{
    float:left;width:200px;
    dt{
        span{
             font-size:14px;margin-left:10px;float:left;color:@mainFontColor;font-weight:bold;font-size:@fs118;
            }
    }
    dd{
        padding:10px 25px;margin-bottom:14px;
        a{
            padding:6px 0px;display:block;
        }
        .show{
            color:@importantNumColor;font-size:@fs118;
        }
    }
}
.projectStatisRight{
    margin-left:230px;
}
.clear{
  clear:both;
}