@import '../../../styles/common.less';
.taskMenu{
    display:block;text-align:right;
        span{
            line-height:32px;height:32px;display:inline-block;
        }
        .MLeft{
            margin-left:40px;
        }
        .MLeft10{
            margin-left:10px;
        }
        .descIcon{
            background:url('../../../images/desc.png') 0px 8px no-repeat;width:20px;display:inline-block;background-size:15px;height:20px;float:left;
        }
        .remIcon{
            background:url('../../../images/icon-sort.png') 6px 11px no-repeat;width:20px;height:32px;display:inline-block;float:left;
        }
        .remIconUp{
            background:url('../../../images/icon-sort-up.png') 6px 11px no-repeat;width:20px;height:32px;display:inline-block;float:left;
        }
        .remIconDown{
            background:url('../../../images/icon-sort-down.png') 6px 11px no-repeat;width:20px;height:32px;display:inline-block;float:left;
        }
        a{
            float:left;margin-right:10px;font-style:normal;color:#657180;height:32px;line-height:32px;
            &:hover{color:#3399ff;}
        }
        .show{
            color:#3399ff;
        }
}
.taskList{
    
}