@import '../../../styles/common.less';
.taskMenu{
    display:block;text-align:right;
        span{
            line-height:32px;height:32px;display:inline-block;
        }
        .MLeft{
            margin-left:40px;
        }
        .MLeft10{
            margin-left:10px;
        }
        .descIcon{
            background:url('../../../images/desc.png') 0px 8px no-repeat;width:20px;display:inline-block;background-size:15px;height:20px;float:left;
        }
        .remIcon{
            background:url('../../../images/icon-sort.png') 6px 11px no-repeat;width:20px;height:32px;display:inline-block;float:left;
        }
        .remIconUp{
            background:url('../../../images/icon-sort-up.png') 6px 11px no-repeat;width:20px;height:32px;display:inline-block;float:left;
        }
        .remIconDown{
            background:url('../../../images/icon-sort-down.png') 6px 11px no-repeat;width:20px;height:32px;display:inline-block;float:left;
        }
        a{
            float:left;margin-right:10px;font-style:normal;color:#657180;height:32px;line-height:32px;
            &:hover{color:#3399ff;}
        }
        .show{
            color:#3399ff;
        }
}
.taskList{
    overflow-x:hidden;width:100%;display:block;margin-top:15px;margin-bottom:-30px;
    dl{
        margin-right:-2%;
    }
    dd{
        width:18%;display:inline-block;float:left;margin-bottom:30px;border-radius:@borderRadius12;box-shadow:@boxShadow;height:260px;overflow:hidden;
        margin-right:2%;
        i{
            font-style:normal;
        }
        s{
            text-decoration-line:none;
        }
        img{
            margin-top:-34px;
            width:100%;height:175px;border-radius:12px 12px 0px 0px;transition:all 0.4s ease-in 0s;
            &:hover{
                cursor: pointer;
                transform: scale(1.1);  
                opacity:0.9;
            }
        }
        .title{
            line-height:20px;padding:0px 10px;margin-top:5px;
            i{
                font-weight:bold;color:@importantNumColor;display:inline-block;width:70%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;
                float:left;
            }
            s{
                background:#d7d7d7;color:#8c8c8c;width:27%;margin-left:1%;display:inline-block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;line-height:16px;
                float:left;text-align:center;margin-top:3px;border-radius:2px;
            }
        }
        .row{
            padding:5px 10px;line-height:22px;
            width: 100%;display:block;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;color:#aeaeae;
            i{
                color:#ff6600;font-weight:bold;
            }
        }
        .tips{
            line-height:24px;position:relative;margin-top:10px;height:24px;display:block;
            i{
                background:rgba(225, 49, 31, 0.8);color:#fff;float:left;padding:0px 10px;
                span{
                    background:#fff;color:#e43;border-radius:2px;padding:0px 4px;line-height:14px;margin:0px 3px;
                }
            }
            s{
                float:right;margin-right:3px;background:#49c1ac;color:#fff;padding:0px 3px;line-height:16px;margin-top:5px;margin-right:5px;border-radius:2px;
            }
        }
        .pastDue{
            background:rgba(85, 95, 86, 0.8);color:#fff;width:100%;height:175px;position: relative;margin-top:-180px;border-radius:12px 12px 0px 0px;
            text-align:center;font-size:@fs118;padding-left:15%;line-height:175px;
        }
    }
}
.taskTitle{
    em{
        margin-right:5px;background:#49c1ac;color:#fff;padding:0px 3px;line-height:14px;font-style:normal;border-radius:2px;
    }
    span{
        font-weight:bold;font-size:@fs14;
    }
}
.taskDetails{
    .taskImg{
        img{
            width:100%;height:350px;
        }
    }
    .taskinfo{
        margin:5px 0px;width:100%;display:block;font-size:@fs13;
        span{
            float:left;width:25%;line-height:22px;
            b{
                color:#ff8355;
            }
            &:nth-of-type(2){
                width:35%;
            }
            &:nth-of-type(4){
                width:15%;text-align:right;
            }
        }
    }
    .fileask{
        margin-top:10px;font-size:@fs13;
        p{
            margin:10px 0px;line-height:24px;color:@mainFontColor;
            b{
                color:@importantNumColor
            }
        }
        em{
            font-style:normal;margin-right:10px;
        }
        a{
            color:#555;margin-left:10px;
            &:hover{
                color:#2d8cf0;
            }
        }
    }
}